<div class='row'>
	<div class='large-12 columns'>

<h1 align='center'>Bienvenido En el Blog de los Bloges</h1>

<h4 align='center'>Si no eres registrado registrate <%= link_to 'aqui', new_usuario_path %></h4>

    </div>

    </div>